.adicionales{
	background-color: #F5F5F5;
}

#skills{
	width: 940px;
	margin: 0 auto;
	padding: 60px 0 40px 0;
	text-align: center;
}

#skills h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

#skills div{
	display: inline-block;
	width: 16%;
	height: 140px;
	background-color: #ffffff;
	position: relative;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
}

#skills img{
	width: 25%;
	position: absolute;
	top: 60px;
	left: 10px;
}

#skills p{
	position: absolute;
	top: 107px;
	left: 13px;
	font-weight: 600;
}

/* Hobbies */

#hobbies{
	width: 940px;
	margin: 0 auto;
	padding: 30px 0 60px 0;
	text-align: center;
}

#hobbies h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

#hobbies div{
	display: inline-block;
	width: 16%;
	height: 140px;
	background-color: #ffffff;
	position: relative;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
}

#hobbies img{
	width: 25%;
	position: absolute;
	top: 60px;
	left: 12px;
}

#hobbies p{
	position: absolute;
	top: 107px;
	left: 11px;
	font-weight: 600;
}


@media screen and (max-width: 1024px ) {

	/* ======= MENU ======== */
	
	.menu, .banner, .sobremi, #skills, #hobbies, .contenido_footer{
		width: auto
	}

	.menu{
		padding: 40px;
	}
	
	.menu p, .menu nav{
		font-size: 18px;
	}


	.menu a:not(.email){
		display: none;
	}

	/* ======= BANNER ======== */

	.banner{
		width: auto;
		padding: 0 40px;
		padding-bottom: 30px;
	}

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 40px;
	}

	.sobremi p{
		width: auto;
	}

	/* ======= SKILLS ======== */

	#skills div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}

	#hobbies div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}
	
}

@media screen and (max-width: 480px ) {

	/* ======= SKILLS ======== */

	#skills div{
		display: inline-block;
		width: 30%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}

	#hobbies div{
		display: inline-block;
		width: 30%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}
}