.adicionales{
	background-color: #F5F5F5;
}

.skills{
	width: 70%;
	padding: 60px 0 0 0;
	text-align: center;
}
.hobbies{
	padding: 60px 0 45px 0;
	text-align: center;
}

.skills__titulo,
.hobbies__titulo{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

.skills__cards,
.hobbies__cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.skills__card{
	width: 15%;
	height: 150px;
	background-color: #ffffff;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
	margin-bottom: 1.5rem;
}
.hobbies__card{
	width: 10%;
	height: 150px;
	background-color: #ffffff;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
	margin-bottom: 1.5rem;
}

.skills__card__contenido,
.hobbies__card__contenido{
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills__card__img,
.hobbies__card__img{
	width: 30%;
	margin-bottom: .7rem;
}

.skills__card__titulo,
.hobbies__card__titulo{
	font-weight: 600;
} 

.skills__card__titulo{
	margin-top: 1rem;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

	.skills__card,
	.hobbies__card{
		width: 40%;
		height: 140px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.hobbies__card__img{
		width: 20%;
		margin-bottom: .7rem;
	}
}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px){

	.skills__card,
	.hobbies__card{
		width: 25%;
		height: 140px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

}