.contenedor-formacion{
	background-color: #EAF2FD;
}

.formacion{
	padding: 70px 0;
}

.formacion__titulo{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 30px;
}

.formacion__cards{
	display: flex;
	justify-content: center;
}

.formacion__card{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formacion__card:not(:last-child){
	margin-right: 1.5rem ;
}

.formacion__card__img{
	width: 100%;
	height: 250px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.logo_alura{
	width: 65%;
}
.logo_sergio{
	width: 65%;
}
.logo_sena{
	width: 40%;
}

.formacion__card__contenido__curso{
	text-align: center;
}

.formacion__card__contenido__curso__datos{
	margin: 7px 0;
}

.formacion__card__contenido__curso{
	font-weight: 600;
}



/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

	.formacion{
		padding: 40px 0 20px 0;
	}

	.formacion__cards{
		display: flex;
		flex-direction: column;
	}

	.formacion__card{
		margin-bottom: 2rem;
		width: 100%;
	}

	.formacion__card__img{
		margin-bottom: 1rem;
		width: 90%;
	}

	.logo_alura{
		width: 50%;
	}
	.logo_sergio{
		width: 50%;
	}
	.logo_sena{
		width: 30%;
	}

}

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

@media (min-width:768px) and (max-width:1024px){


}