header{
	background-color: #F5F5F5;
}

.menu{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0;
}

.menu img, .menu p, .menu nav{
	display: inline-block;
}

nav li{
	display: inline-block;
}

nav a{
	text-decoration: none;
	color: #000000;
	margin: 0 10px;
}

.menu p::before{
	content: '🚀';
}

.menu li:last-child{
	font-weight: 700;
	color: #584b4b;
}

.menu a:hover{
	color: #CFA616;
}

@media screen and (max-width: 1024px ) {

	/* ======= MENU ======== */
	
	.menu, .banner, .sobremi, #skills, #hobbies, .contenido_footer{
		width: auto
	}

	.menu{
		padding: 40px;
	}
	
	.menu p, .menu nav{
		font-size: 18px;
	}


	.menu a:not(.email){
		display: none;
	}

	/* ======= BANNER ======== */

	.banner{
		width: auto;
		padding: 0 40px;
		padding-bottom: 30px;
	}

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 40px;
	}

	.sobremi p{
		width: auto;
	}

	/* ======= SKILLS ======== */

	#skills div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}

	#hobbies div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}
	
}

@media screen and (max-width: 480px ) {

	/* ======= MENU ======== */
	
	.menu, .banner, .sobremi, #skills, #hobbies, .contenido_footer{
		width: auto;
	}

	.menu{
		padding: 20px;
	}
	
	.menu p, .menu nav{
			
		font-size: 14px;
	}


	.menu a:not(.email){
		display: none;
	}

}