#contenedor_sobremi{
	background-color: #EAF2FD;
}

.sobremi{
	padding: 50px  0;
}

.sobremi__titulo,
.sobremi__texto{
	margin-bottom: 20px;
}

.sobremi__titulo{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
}

.sobremi__texto{
	width: 65%;
	text-align: justify;
	line-height: 20px;
}

.sobremi__firma{
	width: 15%;
}

@media screen and (max-width: 1024px ) {

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 40px;
	}

	.sobremi p{
		width: auto;
	}

	
}

@media screen and (max-width: 480px ) {

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 20px;
	}

	.sobremi p{
		width: auto;
	}
	
}