/* 
====================== HEADER ==========================
*/
html{
	scroll-behavior: smooth;
	animation-duration: 500ms;
}

body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #F5F5F5;
}

.menu{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 0;
}

.menu img, .menu p, .menu nav{
	display: inline-block;
}

nav li{
	display: inline-block;
}

nav a{
	text-decoration: none;
	color: #000000;
	margin: 0 10px;
}

.menu p::before{
	content: '🚀';
}

.menu li:last-child{
	font-weight: 700;
	color: #584b4b;
}

.menu a:hover{
	color: #CFA616;
}


/* 
====================== BANNER ==========================
*/

.contenedor_banner{
	background-color: #F5F5F5;
}

.banner{
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.informacion{
	width: 65%;
}

.informacion{
	display: inline-block;
}

.informacion h1, .informacion p, .informacion ul{
	margin-bottom: 20px;
}

.informacion h1{
	font-size: 33px;
	font-weight: 700;
	color: #494141;
}

.informacion p{
	font-size: 20px;
	line-height: 25px;
}

.informacion li::after{
	content: '🡥';
	color: #CFA616;
}

.informacion li{
	display: inline;
	margin: 0 20px 0 0;
}

.informacion a:hover{
	color: #CFA616;
}

.informacion a{
	text-decoration: none;
	color: #000000;
}

.banner img{
	width: 30%;
	border-radius: 150px;
    
}

/* 
====================== SOBRE MI ==========================
*/

#contenedor_sobremi{
	background-color: #EAF2FD;
}

.sobremi{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.sobremi h2, .sobremi p{
	margin-bottom: 20px;
}

.sobremi h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
}

.sobremi p{
	width: 80%;
	text-align: justify;
	line-height: 20px;
}

.sobremi img{
	width: 20%;
}

/* 
====================== ADICIONALES ==========================
*/

.adicionales{
	background-color: #F5F5F5;
}

#skills{
	width: 940px;
	margin: 0 auto;
	padding: 60px 0 40px 0;
	text-align: center;
}

#skills h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

#skills div{
	display: inline-block;
	width: 16%;
	height: 140px;
	background-color: #ffffff;
	position: relative;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
}

#skills img{
	width: 25%;
	position: absolute;
	top: 60px;
	left: 10px;
}

#skills p{
	position: absolute;
	top: 107px;
	left: 13px;
	font-weight: 600;
}

/* Hobbies */

#hobbies{
	width: 940px;
	margin: 0 auto;
	padding: 30px 0 60px 0;
	text-align: center;
}

#hobbies h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 40px;
}

#hobbies div{
	display: inline-block;
	width: 16%;
	height: 140px;
	background-color: #ffffff;
	position: relative;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
}

#hobbies img{
	width: 25%;
	position: absolute;
	top: 60px;
	left: 12px;
}

#hobbies p{
	position: absolute;
	top: 107px;
	left: 11px;
	font-weight: 600;
}

/* 
====================== FORMACION ==========================
*/

.contenedor-formacion{
	background-color: #EAF2FD;
}

#formacion{
	width: 940px;
	margin: 0 auto;
	text-align: center;
	padding: 70px 0;
}

#formacion h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 30px;
}

.contenido{
	display: inline-block;
}

.contenido div{
	width: 96%;
	height: 250px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.08);
}

.logo_alura{
	width: 60%;
}
.logo_sergio{
	width: 65%;
}
.logo_sena{
	width: 40%;
}

.contenido div{
	margin: 20px 5px;
}

.contenido p{
	margin: 5px 0;
}

.curso{
	font-weight: 600;
}


/* 
====================== EXPERIENCIA ==========================
*/

.contenedor-experiencia{
	background-color: #F5F5F5;
}

#experiencia{
	width: 940px;
	margin: 0 auto;
	padding: 70px 0;
}

#experiencia h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 20px;
}

.contenido-experiencia img{
	display: inline-block;
	width: 65%;
	margin: 40px 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
}

.contenido-experiencia div{
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding: 20px 10px;
	margin: 140px 0;
	text-align: center;
}

.contenido-experiencia h3{
	font-weight: 600;
	font-size: 20px;
}    

.contenido-experiencia h3, .contenido-experiencia p{
	padding: 5px 0;
}

.btn-repo, 
.btn-demo{
	display: inline-block;
	text-decoration: none;
	margin-top: 5px;
	border-radius: 4px;
}

.btn-repo:hover, 
.btn-demo:hover{
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
}


.btn-repo{
	padding: 7px 25px;
	color: #2A7AE4 ;
	border: 1px solid #2A7AE4;
	margin-bottom: 5px;
}

.btn-demo{
	padding: 7px 31px;
	color: #ffffff;
	background-color: #2A7AE4;
}

/* 
====================== FORMULARIO ==========================
*/

.contenedor-formulario{
	background-color: #EAF2FD ;
}

.formulario{
	width: 940px;
	margin: 0 auto;
	padding: 70px 0;
}

.formulario img{
	width: 50%;
	height: 520px;
	display: inline-block;
	margin-right: 2%;
}

.form-content{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.formulario h2{
	font-size: 25px;
	font-weight: 600;
	color: #494141;
	text-align: center;
	margin-bottom: 30px;
}

.formulario p{
	text-align: justify;
	line-height: 20px;
	margin: 10px 0;
}

.form__label {
	margin-bottom: 1rem;
}

.input-container {
	position: relative;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-sizing: border-box;
}
  
.input {
	background-color: #EAF2FD;
	border: none;
	box-sizing: border-box;
	border-bottom: 1px solid #2A7AE4;
	padding: 1.375rem 0.5rem 0.5rem;
	height: 3.25rem;
	width: 100%;
}
  
.input::placeholder {
	visibility: hidden;
	color: #00000000;
}
  
.input:focus {
    outline: none;
}
  
.input-label {
	position: absolute;
	top: 1.375rem;
	left: 0.5rem;

	transition: all 0.25s;
}
  
.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
	font-size: 0.875rem;
	top: 0.25rem;
	transition: all 0.25s;
}
  
.input-container--invalid {
  margin-bottom: 0.5rem;
}
  
.input-container--invalid .input {
	border: 1px solid red;
	border-radius: 7px;
}

.input-container--invalid .input-label {
	color: red;
}

.input-message-error {
	display: none;
}

.input-container--invalid .input-message-error {
	color: red;
	display: block;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
}

.textarea {
	background-color: #EAF2FD;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #2A7AE4;
	padding: 0.5rem;
	border-radius: 7px;
	width: 100%;
	min-height: 3rem;
	resize: none;
}

.textarea-container {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.textarea::placeholder {
	visibility: hidden;
}

.textarea:focus {
	outline: none;
}

.input-label {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .input-label,
.textarea:focus + .input-label {
	font-size: 0.875rem;
	top: -1.25rem;
	transition: all 0.25s;
}

.textarea-container--invalid {
	margin-bottom: 0.5rem;
}

.input-container--invalid .textarea {
	border: 1px solid red;
}

.textarea-container--invalid .input-label {
	color: red;
}

.textarea-mensagem-erro {
	display: none;
}

.textarea-container--invalid .textarea-mensagem-erro {
	display: block;
	color: red;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
}

.boton-form{
	border-radius: 5px;
	padding: 10px 15px;
	color: #ffffff;
	background-color: #2A7AE4;
	font-weight: 500;
	border: none;
}

.boton-form:hover{
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.35);
	cursor: pointer;
}


/* 
====================== FOOTER ==========================
*/

.contenido_footer{
	width: 940px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

.contenido_footer p{
	display: block;
	padding: 5px 0;
}


/* 
====================== RESPONSIVE ==========================
*/



@media screen and (max-width: 1024px ) {

	/* ======= MENU ======== */
	
	.menu, .banner, .sobremi, #skills, #hobbies, .contenido_footer{
		width: auto
	}

	.menu{
		padding: 40px;
	}
	
	.menu p, .menu nav{
		font-size: 18px;
	}


	.menu a:not(.email){
		display: none;
	}

	/* ======= BANNER ======== */

	.banner{
		width: auto;
		padding: 0 40px;
		padding-bottom: 30px;
	}

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 40px;
	}

	.sobremi p{
		width: auto;
	}

	/* ======= SKILLS ======== */

	#skills div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}

	#hobbies div{
		display: inline-block;
		width: 15%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}
	
}

@media screen and (max-width: 480px ) {

	/* ======= MENU ======== */
	
	.menu, .banner, .sobremi, #skills, #hobbies, .contenido_footer{
		width: auto;
	}

	.menu{
		padding: 20px;
	}
	
	.menu p, .menu nav{
			
		font-size: 14px;
	}


	.menu a:not(.email){
		display: none;
	}

	/* ======= BANNER ======== */

	.banner{
		position: relative;
	}

	.informacion{
		width: auto;
		margin-top: 160px;
		padding: 0 20px;
	}

	.banner_img{
			position: absolute;
			top: 10px;
			left: 35%
	}

	/* ======= SOBRE MI ======== */

	.sobremi{
		padding: 50px 20px;
	}

	.sobremi p{
		width: auto;
	}

	/* ======= SKILLS ======== */

	#skills div{
		display: inline-block;
		width: 30%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}

	#hobbies div{
		display: inline-block;
		width: 30%;
		height: 140px;
		background-color: #ffffff;
		position: relative;
		margin: 0 10px 10px 10px;
		border-radius: 10px;
	}
}